[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/solady"]
	path = lib/solady
	url = https://github.com/vectorized/solady
[submodule "lib/v4-periphery-nossh"]
	path = lib/v4-periphery-nossh
	url = https://github.com/Breakthrough-Labs/v4-periphery-nossh
